*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.main-container{
   
}
main {
  background: #FAF1E6;
    width: 100vw;
    /* padding-top: 20px; */

}

.head-container{
    height: 68px;
    padding: 10px;
    /* display: flex; */
    /* align-items: center; */
    /* align-items: center; */
    /* margin: 2px; */
    width: 100%;
    background: #FAF1E6;
}

header {
    border-radius: 5px;
    margin: 0 auto;
    max-width: 1280px;
    /* width: 100%; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background: #E4EFE7;
    
}

header button {
    height: 32px;
}

header h2 {
    color:#EC5228;
    /* display: flex;
    align-items: center;
    justify-content: center; */
    /* text-align: center; */

    
}

.second-main{
    margin-top: 10px;
    position: relative;
   
}
.second-main{
  
    background: #FAF1E6;
    
    /* background: red; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1280px;
    margin: 0 auto;
    height: 48px;
}

.input-tag{
    padding: 5px;
    height: 100%;
    width: 50%;
}

.filter-btn{
    height: 36px;
    margin: 5px;
    width: 150px;
}

.filter-menu ul {
  position: absolute;
  background: #F2E2B1;
  color: #EC5228;
  width: 160px;
 height: 130px;

  /* /* text-decoration: none; */
  list-style: none; 
}

.filter-menu ul li{
  padding: 5px;
  font-family: 'Times New Roman', Times, serif;
  font-weight: bolder;
  border: 2px solid #EEEEEE;
}

.hero-div{
    margin-top: 50px;
    padding: 10px;
    max-width: 1280px;
    margin: 0 auto;
    border: 3px solid #F2E2B1;
    /* display: grid; */
    background: #FAF1E6;
    border-radius: 10px;
      --auto-grid-min-size: 16rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(var(--auto-grid-min-size), 1fr));
  grid-gap: 1rem;
    /* gap: 10px; */
    /* justify-content: center; */
    /* grid-template-columns:1fr 1fr 1fr 1fr; */
    /* background: red; */
}
.container{
    border: 5px solid #D5E5D5;
    border-radius: 10px;
    overflow: hidden;
    /* max-width: 250px; */
    background: #EFEFEF;
}

.hero-div .container img{
    width: 100%;
    height: auto;
    max-height: 160px;
    /* max-width: 200px; */
}

.div-data p{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 5px;
}


@media only screen and (max-width: 600px) {

    .input{
        color: red;
        max-width: 30dvh;
        min-width: 20dvh;

    }
}