*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.main-container{
   
}
main {
  
    width: 100vw;
    /* padding-top: 20px; */

}

.head-container{
    height: 68px;
    padding: 10px;
    /* display: flex; */
    /* align-items: center; */
    /* align-items: center; */
    /* margin: 2px; */
    width: 100%;
    background: rgba(0, 0, 0, 0.544);
}

header {
    border-radius: 5px;
    margin: 0 auto;
    max-width: 1280px;
    /* width: 100%; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background: #00000083;
    
}

header button {
    height: 32px;
}

header h2 {
    color: whitesmoke;
    /* display: flex;
    align-items: center;
    justify-content: center; */
    /* text-align: center; */

    
}

.second-main{
    margin-top: 10px;
    position: relative;
   
}
.second-main{
  
    background: #00000063;
    /* background: red; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1280px;
    margin: 0 auto;
    height: 48px;
}

.input-tag{
    padding: 5px;
    height: 100%;
    width: 50%;
}

.filter-btn{
    height: 36px;
    margin: 5px;
    width: 150px;
}

.filter-menu ul {
  position: absolute;
  background: grey;
  color: lightgreen;
  width: 160px;
 height: 130px;

  /* /* text-decoration: none; */
  list-style: none; 
}

.filter-menu ul li{
  padding: 5px;
  font-family: 'Times New Roman', Times, serif;
  font-weight: bolder;
  border: 2px solid black;
}

.hero-div{
    margin-top: 50px;
    padding: 10px;
    max-width: 1280px;
    margin: 0 auto;
    border: 5px solid rgba(0, 0, 0, 0.753);
    display: grid;
    background: #00000063;
    border-radius: 10px;
    gap: 10px;
    justify-content: center;
    grid-template-columns:1fr 1fr 1fr 1fr;
    /* background: red; */
}
.container{
    border: 2px solid rgb(0, 0, 0);
    /* max-width: 250px; */
    background: #00000088;
}

.hero-div .container img{
    width: 100%;
    height: auto;
    max-height: 160px;
    /* max-width: 200px; */
}

.div-data p{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 5px;
}